// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-block{
  margin-left: 40px;
  margin-bottom: 20px;
  background-color: #ccc000;
  border-radius: 5px; 
  padding: 5px;
  width: 600px;
}

.comment-section{
  background-color: #ccc666;
  padding: 10px;
}